.seaweedpic{
  float: right;
  margin-top: 0;
  margin right: 15px;
  width: 25%;
}
.wavespic{
  float: right;
  margin-top: 0;
  margin right: 15px;
  width: 25%;

}
.treasurepic{
  float: right;
  margin-top: 0;
  margin right: 15px;
  width: 25%;
}


$('.treasurepic').removeClass('hidden');

$('.wavepic').removeClass('hidden');

$('.wavepic').removeClass('hidden');
