@font-face {
    font-family: Waltograph;
    src: url("./waltograph/Waltograph/waltograph42.otf");
}
@font-face {
    font-family: Whitney;
    src: url("./Whitney/Whitney/Whitney-Light.otf");
}
body {
    background: url(images/background.jpg) no-repeat 50% 50% fixed;
    background-size: cover;
    font-family: Whitney;
}
.characterselect {
  display: inline;
  width: 100%;
  padding-bottom: 2%;
}
.characterselect h1 {
  font-weight: 100;
  color: coral;
  font-family: Waltograph;
  font-size: 4.5em;
  text-align: center;
  margin-top: 3%;
  padding: 4%;
  margin: 0 auto;
}
.characterselect img {
    display: inline-block;
    width: 22%;
    margin-left: 26px;
    border-radius: 5px;
}
.characterselect a {
  margin-left: 3%;
  font-family: Whitney, sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2.3rem;
  text-align: center;
}
.hidden {
    display: none;
}
.encounters {
    text-decoration: none;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 5%;
    border-radius: 3px;
}
.encounters a {
    text-decoration: none;
    color: white;
}
.encounters h2 {
    text-decoration: none;
    color: white;
    font-size: 3em;
    font-weight: bolder;
}
.encounters ul {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: bolder;
    padding: 5%;
    margin: 1px;
}
